* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span[lang] {
  display: none;
}
html{
  font-size: 16px;
}
h1{
  font-size: 2rem;
  font-weight: 600;
}
h2{
  font-size: 1.5rem;
  font-weight: 600;
}
html:lang(zh) span:lang(zh),
html:lang(en) span:lang(en) {
  display: block;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-size: 1rem; 
}
body > div {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.3s ease-in;
  transition: opacity 0.5s ease-out;
}

body[data-page="home"] > .home,
body[data-page="game"] > .game {
  transform: scale(1);
  opacity: 1;
}
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.difficulty-level {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.difficulty-level p {
  display: none;
}
body[data-difficulty-level="easy"] .difficulty-level p[data-difficulty-level="easy"],
body[data-difficulty-level="normal"] .difficulty-level p[data-difficulty-level="normal"],
body[data-difficulty-level="hard"] .difficulty-level p[data-difficulty-level="hard"],
body[data-difficulty-level="expert"] .difficulty-level p[data-difficulty-level="expert"] {
  display: block;
}
.score-number{
  position: relative;
}
.score-number::after {
  content: attr(data-score-number);
  font-size: 1.25rem;
  font-weight: bold;
}
.block {
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  aspect-ratio: 1 / 1;
  width: 100%;
  min-width: 50px;
  min-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  /* 超过2048后的数字的样式 */
  font-size: 0.625rem;
  background: #d71700;
  color: #f9f6f2;
}

/* 背景颜色 for  (空白块) */
.block[data-number=""] {
  background: rgba(238, 228, 218, 0.35);
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.block[data-number="2"] {
  font-size: 2rem;
  color: #776e65;
  background: #eee4da;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.block[data-number="4"] {
  font-size: 2rem;
  background: #ede0c8;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.block[data-number="8"] {
  background: #f2b179;
  color: #f9f6f2;
  font-size: 2rem;
}

.block[data-number="16"] {
  color: #f9f6f2;
  background: #f59563;
  font-size: 2rem;
}

.block[data-number="32"] {
  color: #f9f6f2;
  background: #f67c5f;
  font-size: 2rem;
}

.block[data-number="64"] {
  background: #f75d3b; /* 深橙色 */
  color: #f9f6f2; /* 白色字体 */
  font-size: 2rem;
}

.block[data-number="128"] {
  background: #f75128; /* 更深的橙色 */
  color: #f9f6f2; /* 白色字体 */
  font-size: 1.875rem;
}

.block[data-number="256"] {
  background: #f65e1e; /* 另一种深橙色 */
  color: #f9f6f2; /* 白色字体 */
  font-size: 1.875rem;
}

.block[data-number="512"] {
  background: #f44e1f; /* 更深的橙色 */
  color: #f9f6f2; /* 白色字体 */
  font-size: 1.875rem;
}

.block[data-number="1024"] {
  background: #f33a18; /* 更深的橙色 */
  color: #f9f6f2; /* 白色字体 */
  font-size: 1.75rem;
}

.block[data-number="2048"] {
  background: #f21b00; /* 红色，最大值 */
  color: #f9f6f2; /* 白色字体 */
  font-size: 1.75rem;
}

/* 使用::after伪元素显示数字 */
.block::after {
  content: attr(data-number);
}

/* 移动端样式 */
@media screen and (max-width: 768px) {
  html{
    font-size: 14px;
  }
  .block {
    min-width: 40px;  /* 小屏幕下的最小宽度 */
    min-height: 40px;  /* 小屏幕下的最小高度 */
  }
}

/* 桌面端样式 */
@media screen and (min-width: 769px) {
  html{
    font-size: 18px;  /* 大屏幕下的字体大小 */
  }
  .block {
    min-width: 80px;  /* 大屏幕下的最小宽度 */
    min-height: 80px;  /* 大屏幕下的最小高度 */
  }
}

.content {
  display: grid;
  position: relative;
  border-radius: 6px;
  padding: 15px;
  cursor: default;
  background: #bbada0;
}

body[data-difficulty-level="expert"] .content {
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}
body[data-difficulty-level="easy"] .content {
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

body[data-difficulty-level="normal"] .content {
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

body[data-difficulty-level="hard"] .content {
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.score-animation{
  position: absolute;
  animation: scoreAnimation 0.5s ease-out;
}
@keyframes scoreAnimation {
 to{
   transform: translateY(-20px);
   opacity: 0;
 }
}
.game-over {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.35);
}
.game-over:hidden{
  display: none;
}
.game-over span{
  font-size: 1.875rem;
  font-weight: 800;
  color: #f9f6f2;
}